<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <form th:object="${articleForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            제목
            <input type="text" name="title">
            <br>
            내용
            <textarea name="content" id="" cols="30" rows="10"></textarea>
            <button type="submit"> 게시글 등록</button>
        </form>
    </table>

</div>
</html>